* {
    box-sizing: border-box;
}

.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 200);
    flex-direction: row;
}

.flex-container-parent {
    display: flex;
    border-style: solid;
    border-width: 5px;
    min-height: 800px;
    border-color: black;

    gap: 20px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container-child {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    width: 95%;

    flex-direction: column;
    align-items: center;
}

.flex-wrapper-row {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    flex-direction: row;
    width: 100%;
    gap: 20px;

}


.centered-header {
    text-align: center;
}

.profile-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: fit;
}

.project-box {
    display: flex;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: blue;

    flex-direction: column;
    align-items: center;
}

.project-title {
    text-align: center;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: fit;
}


footer {
    border-style: solid;
    border-width: 5px;
    border-color: green;
}