* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: beige;
}

.nav-logo {
    margin-right: auto;
    padding-left: 20px;
    font-size: 50px;
}
.nav-shortcuts {
    display: flex;
    list-style: none;
    gap: 20px;
    color: inherit;
    padding-right: 20px;
    font-size: 20px;
}
.nav-shortcuts a{
    text-decoration: none;
}
.main-container-parent {
    display: flex;
    min-height: 800px;

    gap: 20px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-container-child {
    display: flex;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    width: 95%;

    flex-direction: column;
    align-items: center;
}

.flex-wrapper-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.profile-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: fit;
    border-radius: 500px;
}

.project-box {
    display: flex;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: beige;
    border-radius: 25px;
    border-radius: ;

    flex-direction: column;
    align-items: center;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: fit;
}

.skills-box {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: flex-start;
}

#skills-autobio-header{
    margin-bottom: 5px;
}
#skills-autobio-section{
    font-size: 20px;
    border: 0;
}
.autobio-para {
    padding: 5px;
}
.footer-container-parent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: beige;
}

.footer-logo {
    width: 100%;
    height: auto;
    max-width: 100px;
    padding-left: 5px;
}

.footer-contents {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.footer-contents a{
    text-decoration: none;
}