.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 200);
    flex-direction: row;
}

.flex-container-parent {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container-child{
    border-style: solid;
    border-width: 5px;
    border-color: red;
}

.flex-container-child-row{
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    flex-direction: row;
}

footer{
    border-style: solid;
    border-width: 5px;
    border-color: green;
    margin-bottom: auto;
}